.article-advantages{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}
.adv-article{

&__icon{
    width: 1.5em;
    height: auto;
}
&__paragraph{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    opacity: 50%;
}}