.adv-section__header, .faci-section__header {
    width: 76.25rem;
    margin: 0 auto;

    h1{
        font-family: 'Merriweather', serif;
        font-weight: 700;
        padding: 1.2em 0 1.2em;
    }
}
